$setting-list-prefix: "setting-list";
.#{$setting-list-prefix} {
    width: 100%;
    &__title{
        padding: 0 12px;
        line-height: 30px;
        background: #000000;
        box-shadow: 1px 2px 24px rgba(0, 0, 0, 0.08);
        font-size: 16px;
        color: #fff;
    }
    &__item {
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 52px;
        box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.08);
        background: #ecedef;
        font-size: 18px;
        color: #000000;
    }
    &__text {
        font-weight: 700;
        color: #347ebf;
    }
}
