#__next,
.l_wrap {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.l_transition {
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.l_main {
    padding: 20px 0;
    grid-area: main;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.popup-enter,
.popup-exit {
    z-index: 10;
    transition: all 0.3s ease-in-out;
}
.popup-enter,
.popup-exit-active {
    transform: rotateY(10deg) translate3d(100%, 0, 0);
}
.popup-enter-active {
    transform: rotateY(0) translate3d(0, 0, 0);
}

.slide-enter,
.slide-exit {
    z-index: 10;
    transition: all 0.3s ease-in-out;
}
.slide-enter,
.slide-exit-active {
    transform: translate3d(100%, 0, 0);
}
.slide-enter-active {
    transform: translate3d(0, 0, 0);
}

.enter,
.exit {
    z-index: 9;
    transition: all 0.3s ease-in-out;
}
.enter,
.exit-active {
    transform: rotateY(-5deg) translate3d(-6%, 0, 0);
    filter: brightness(90%);
}
.enter-active {
    transform: rotateY(0) translate3d(0, 0, 0);
    filter: brightness(100%);
}
