$tab-prefix: "tab";

.#{$tab-prefix} {
    padding: 3px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    height: 40px;
    background: #ecedef;
    border-radius: 20px;
    box-shadow: -1px -2px 6px rgba(255, 255, 255, 1), 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.#{$tab-prefix}__btn {
    padding: 0 17px;
    height: 34px;
    border-radius: 20px;
    border: none;
    background: #ecedef;
    font-size: 16px;
    font-weight: 500;
    color: #534844;
    &:focus {
        outline: none;
    }
    &--active {
        background: #000000;
        color: #ffffff;
    }
    &--icon {
        padding: 0 5px;
    }
}
