$icon-list-prefix: "icon-list";
.#{$icon-list-prefix} {
    width: 100%;
    height: 100%;
    flex: 1;
}
.#{$icon-list-prefix}__con {
    overflow-y: auto;
    padding: 20px;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
    grid-gap: 12px 8px;
}
.#{$icon-list-prefix}__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #e3e5e8;
    border-radius: 24px;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1), 2px 2px 8px rgba(0, 0, 0, 0.32);
    font-size: 28px;
    color: #4b4b4b;
}
.#{$icon-list-prefix}__img {
    height: 112px;
}
